In [5]:
import pandas as pd

In [21]:
df = pd.read_csv("yellow_tripdata_2021-07.csv", nrows=100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [24]:
# specify datetime cols to have datetime type
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [27]:
schema = pd.io.sql.get_schema(df, "yellow_taxi_data")
print(schema)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [31]:
# connect to postgresql
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [32]:
 print(pd.io.sql.get_schema(df, "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [64]:
# use batch ingesting using an iterator (load a large csv file in chunks aka batches)
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv", iterator=True, chunksize=100000)
df_iter

In [36]:
# df.head().to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

5

In [39]:
df = next(df_iter)
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

CPU times: user 3.54 s, sys: 64.2 ms, total: 3.61 s
Wall time: 7.86 s

1000

In [65]:
from time import time
while (df := next(df_iter, None)) is not None:
        time_start = time()
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
        time_end = time()
        print(f"inserting a chunk..took {time_end-time_start:.2f}s")

inserting a chunk..took 10.98s
inserting a chunk..took 10.22s
inserting a chunk..took 10.23s
inserting a chunk..took 16.58s
inserting a chunk..took 7.53s
inserting a chunk..took 7.25s
inserting a chunk..took 6.80s
inserting a chunk..took 6.93s
inserting a chunk..took 6.66s
inserting a chunk..took 6.77s
inserting a chunk..took 6.98s
inserting a chunk..took 7.04s
inserting a chunk..took 6.78s
inserting a chunk..took 6.69s
inserting a chunk..took 6.86s
inserting a chunk..took 6.74s
inserting a chunk..took 6.72s
inserting a chunk..took 7.08s
inserting a chunk..took 7.80s
inserting a chunk..took 7.80s
inserting a chunk..took 6.72s
inserting a chunk..took 7.03s
inserting a chunk..took 6.75s
inserting a chunk..took 7.05s
inserting a chunk..took 7.31s
inserting a chunk..took 7.55s

/tmp/ipykernel_8845/4263293341.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  while (df := next(df_iter, None)) is not None:

inserting a chunk..took 7.02s
inserting a chunk..took 7.05s
inserting a chunk..took 1.47s